/* Style block news on front page */

#block-views-block-news-block-1 {
  .container-fluid {
    background: repeating-linear-gradient(
      135deg,
      #fff,
      #fff 4px,
      #ddd 4px,
      #ddd 5px,
      #fff 6px
    );
    .card-deck {
      padding: 10px 0 60px 0;
    }
    .card {
      display: flex;
    }
    .card-news-left {
      padding-left: 0;
      padding-right: 10px;
      text-align: center;
      h2,
      h1 {
        display: block;
      }
      & > h2 {
        font-size: 24px;
        line-height: 19px;
      }
      & > h1 {
        font-size: 47px;
        line-height: 26px;
        font-weight: 800;
      }
    }
    .card-news-right {
      padding: 0;
    }
    .title-news-block {
      padding-left: 10px;
      border-left: 1px solid #aaa;
      font-size: small;
      display: flex;
      .image-style-thumbnail {
        width: 60px;
        height: 60px;
      }
      .writer-block {
        padding: 0 5px;
        width: 100%;
      }
    }
    .block-news-body {
      padding-left: 10px;
      border-left: 1px solid #aaa;
      margin-top: 10px;
      & > h2 {
        font-size: 19px;
        margin-bottom: 10px;
      }
      & > p {
        font-size: 12px;
        text-align: justify;
      }
      .wrapper-btn-news {
        text-align: right;
        a {
          @extend .btn;
          @extend .btn-dark;
          @extend .rounded-0;
          @extend .py-1;
        }
      }
    }
  }
  #views-exposed-form-news-block-1 {
    .form--inline {
      display: flex;
      .form-control-style {
        border-radius: 5px;
        padding: 8px 14px !important;
        font-size: larger;
        border: 1px solid #ddd;
      }
      .submit-btn {
        @extend .form-control-style;
        background: #2295ca;
        color: rgb(250, 250, 250);
      }
    }
  }
  .view-header,
  .view-content,
  .view-filters {
    @extend .container;
    padding: 0;
  }
}
.field--name-body {
  margin: 20px 0;
}
@media (max-width: 997px) {
  .view-news {
    .card {
      flex: 1 0 50%;
      margin-top: 15px;
    }
  }
}
@media (min-width: 477px) {
  .view-news {
    .card {
      flex-direction: row;
    }
  }
}
