/* Styleblock services on front page */

.block-field-blocknodeservicesfield-image-article {
  float: left;
  margin-right: 20px;
  img {
    height: 280px;
    width: 280px;
  }
}
.field--name-field-text {
  margin: 20px 0;
}
@include media-breakpoint-down(sm) {
  .card-deck {
    .card {
      flex: 1 0 30%;
    }
  }
}
