/* Style block team on front page */

.view-team {
  .view-content {
    margin-bottom: 180px;
  }
  .views-field-name {
    font-size: smaller;
  }
  .views-field-nothing {
    .fab {
      font-size: 20px;
      margin: 0 2px;
      float: left;
    }
  }
}
.flag-bookmark {
  float: right;
}
